/* Cart component styles */
.cart {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart h2 {
  font-size: 24px;
  margin: 0;
}

.cartLeft {
  flex: 2;
  padding-right: 20px;
}

.cartRight {
  flex: 1;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.cartItem {
  display: flex;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 2em 0;
}

.cartItem img {
  height: auto;
  width: 10em;
  margin-right: 10px;
  flex-basis: 10%;
}

.cartItemDescription {
  color: #5c4d4d9b;
}
.cartItem h3 {
  font-size: 18px;
  margin: 0;
}

.cartItem p {
  font-size: 14px;
  margin: 5px 0;
}
.cartRight {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}

.cartRight h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
.cartItemInfo {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cartRight p {
  font-size: 16px;
  margin: 5px 0;
}
