.cardContainer {
  display: flex;
  height: 30em;
  width: 80vw;
  box-shadow: 2px 2px 10px var(--box-shadow-color);
  border-radius: 1em;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin: 2em auto;
}

.cardImage img {
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  height: 30em;
}

.cardContent {
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
  padding-inline: 2em;
  padding-top: 1em;
  gap: 1em;
}

.price {
  font-size: 1.2em;
  font-weight: 500;
}
