.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  text-align: center;
}

.notFound h1 {
  font-size: 3rem;
  color: #333;
}

.notFound p {
  font-size: 1.5rem;
  color: #666;
}
