.searchBox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 1.5em;
  border-bottom: 2px solid;
  width: 15em;
  gap: 0.5em;
}

.inputSearch {
  flex-basis: 90%;
}
.productsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2em 5em;
  gap: 5em;
}
