* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --black-color: #090505;
  --box-shadow-color: #838080;
  --text-decoration-color: #be2020;
  --links-color: #eb8b15;
  --footer-background-color: #e9b142;
  --primary-color: #e9b142;
  --white-color: #f8f8ff;
  --secondary-color: #e6bb4f;
  --gray-color: #878484;
}
a {
  color: var(--black-color);
  text-decoration: none;
}
input,
button {
  border: none;
  outline: none;
  font-size: 1rem;
  background: transparent;
}

.container {
  margin-inline: 2em;
}
